<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadiyw.ce16.mapper.MarketPlanReportSumMapper">
  <resultMap id="BaseResultMap" type="com.dadiyw.ce16.model.MarketPlanReportSum">
    <result column="DATA_DATE" jdbcType="DATE" property="DATA_DATE" />
    <result column="MID_CODE" jdbcType="VARCHAR" property="MID_CODE" />
    <result column="PLAN_CODE" jdbcType="VARCHAR" property="PLAN_CODE" />
    <result column="PLAN_GROUP" jdbcType="VARCHAR" property="PLAN_GROUP" />
    <result column="UV_PLAN" jdbcType="BIGINT" property="UV_PLAN" />
    <result column="OA_PAY_PLAN" jdbcType="DECIMAL" property="OA_PAY_PLAN" />
    <result column="OQ_PAY_PLAN" jdbcType="BIGINT" property="OQ_PAY_PLAN" />
    <result column="NC_PAY_PLAN" jdbcType="BIGINT" property="NC_PAY_PLAN" />
    <result column="NC_VI_PAY_CO" jdbcType="DECIMAL" property="NC_VI_PAY_CO" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DATA_DATE, MID_CODE, PLAN_CODE, PLAN_GROUP, UV_PLAN, OA_PAY_PLAN, OQ_PAY_PLAN, NC_PAY_PLAN, 
    NC_VI_PAY_CO
  </sql>
  <select id="selectByExample" parameterType="com.dadiyw.ce16.model.MarketPlanReportSumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from DM_CE18_MARKET_PLAN_REPORT_SUM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.dadiyw.ce16.model.MarketPlanReportSum">
    insert into DM_CE18_MARKET_PLAN_REPORT_SUM (DATA_DATE, MID_CODE, PLAN_CODE, 
      PLAN_GROUP, UV_PLAN, OA_PAY_PLAN, 
      OQ_PAY_PLAN, NC_PAY_PLAN, NC_VI_PAY_CO
      )
    values (#{DATA_DATE,jdbcType=DATE}, #{MID_CODE,jdbcType=VARCHAR}, #{PLAN_CODE,jdbcType=VARCHAR}, 
      #{PLAN_GROUP,jdbcType=VARCHAR}, #{UV_PLAN,jdbcType=BIGINT}, #{OA_PAY_PLAN,jdbcType=DECIMAL}, 
      #{OQ_PAY_PLAN,jdbcType=BIGINT}, #{NC_PAY_PLAN,jdbcType=BIGINT}, #{NC_VI_PAY_CO,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dadiyw.ce16.model.MarketPlanReportSum">
    insert into DM_CE18_MARKET_PLAN_REPORT_SUM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="DATA_DATE != null">
        DATA_DATE,
      </if>
      <if test="MID_CODE != null">
        MID_CODE,
      </if>
      <if test="PLAN_CODE != null">
        PLAN_CODE,
      </if>
      <if test="PLAN_GROUP != null">
        PLAN_GROUP,
      </if>
      <if test="UV_PLAN != null">
        UV_PLAN,
      </if>
      <if test="OA_PAY_PLAN != null">
        OA_PAY_PLAN,
      </if>
      <if test="OQ_PAY_PLAN != null">
        OQ_PAY_PLAN,
      </if>
      <if test="NC_PAY_PLAN != null">
        NC_PAY_PLAN,
      </if>
      <if test="NC_VI_PAY_CO != null">
        NC_VI_PAY_CO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="DATA_DATE != null">
        #{DATA_DATE,jdbcType=DATE},
      </if>
      <if test="MID_CODE != null">
        #{MID_CODE,jdbcType=VARCHAR},
      </if>
      <if test="PLAN_CODE != null">
        #{PLAN_CODE,jdbcType=VARCHAR},
      </if>
      <if test="PLAN_GROUP != null">
        #{PLAN_GROUP,jdbcType=VARCHAR},
      </if>
      <if test="UV_PLAN != null">
        #{UV_PLAN,jdbcType=BIGINT},
      </if>
      <if test="OA_PAY_PLAN != null">
        #{OA_PAY_PLAN,jdbcType=DECIMAL},
      </if>
      <if test="OQ_PAY_PLAN != null">
        #{OQ_PAY_PLAN,jdbcType=BIGINT},
      </if>
      <if test="NC_PAY_PLAN != null">
        #{NC_PAY_PLAN,jdbcType=BIGINT},
      </if>
      <if test="NC_VI_PAY_CO != null">
        #{NC_VI_PAY_CO,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>