<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadiyw.sop.OrderDetailReportModelMapper">
  <resultMap id="BaseResultMap" type="com.dadiyw.sop.entity.excel.OrderDetailReportModel">
    <result column="DATA_DATE" jdbcType="DATE" property="DATA_DATE" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="ORDER_CODE" />
    <result column="GOODS_CODE" jdbcType="VARCHAR" property="GOODS_CODE" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="GOODS_NAME" />
    <result column="PRODUCT_CODE" jdbcType="VARCHAR" property="PRODUCT_CODE" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="PRODUCT_NAME" />
    <result column="PORDUCT_NUM" jdbcType="BIGINT" property="PORDUCT_NUM" />
    <result column="EXCEED_NUMBER" jdbcType="BIGINT" property="EXCEED_NUMBER" />
    <result column="YEAR" jdbcType="INTEGER" property="YEAR" />
    <result column="MONTH" jdbcType="INTEGER" property="MONTH" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DATA_DATE, ORDER_CODE, GOODS_CODE, GOODS_NAME, PRODUCT_CODE, PRODUCT_NAME, PORDUCT_NUM, 
    EXCEED_NUMBER, YEAR, MONTH
  </sql>
  <select id="selectByExample" parameterType="com.dadiyw.sop.entity.excel.OrderDetailReportModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from DM_CE01_REPORT_ORI_DWS_ORDER_GOODS_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.dadiyw.sop.entity.excel.OrderDetailReportModel">
    insert into DM_CE01_REPORT_ORI_DWS_ORDER_GOODS_DETAIL (DATA_DATE, ORDER_CODE, GOODS_CODE, 
      GOODS_NAME, PRODUCT_CODE, PRODUCT_NAME, 
      PORDUCT_NUM, EXCEED_NUMBER, YEAR, 
      MONTH)
    values (#{DATA_DATE,jdbcType=DATE}, #{ORDER_CODE,jdbcType=VARCHAR}, #{GOODS_CODE,jdbcType=VARCHAR}, 
      #{GOODS_NAME,jdbcType=VARCHAR}, #{PRODUCT_CODE,jdbcType=VARCHAR}, #{PRODUCT_NAME,jdbcType=VARCHAR}, 
      #{PORDUCT_NUM,jdbcType=BIGINT}, #{EXCEED_NUMBER,jdbcType=BIGINT}, #{YEAR,jdbcType=INTEGER}, 
      #{MONTH,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dadiyw.sop.entity.excel.OrderDetailReportModel">
    insert into DM_CE01_REPORT_ORI_DWS_ORDER_GOODS_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="DATA_DATE != null">
        DATA_DATE,
      </if>
      <if test="ORDER_CODE != null">
        ORDER_CODE,
      </if>
      <if test="GOODS_CODE != null">
        GOODS_CODE,
      </if>
      <if test="GOODS_NAME != null">
        GOODS_NAME,
      </if>
      <if test="PRODUCT_CODE != null">
        PRODUCT_CODE,
      </if>
      <if test="PRODUCT_NAME != null">
        PRODUCT_NAME,
      </if>
      <if test="PORDUCT_NUM != null">
        PORDUCT_NUM,
      </if>
      <if test="EXCEED_NUMBER != null">
        EXCEED_NUMBER,
      </if>
      <if test="YEAR != null">
        YEAR,
      </if>
      <if test="MONTH != null">
        MONTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="DATA_DATE != null">
        #{DATA_DATE,jdbcType=DATE},
      </if>
      <if test="ORDER_CODE != null">
        #{ORDER_CODE,jdbcType=VARCHAR},
      </if>
      <if test="GOODS_CODE != null">
        #{GOODS_CODE,jdbcType=VARCHAR},
      </if>
      <if test="GOODS_NAME != null">
        #{GOODS_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PRODUCT_CODE != null">
        #{PRODUCT_CODE,jdbcType=VARCHAR},
      </if>
      <if test="PRODUCT_NAME != null">
        #{PRODUCT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PORDUCT_NUM != null">
        #{PORDUCT_NUM,jdbcType=BIGINT},
      </if>
      <if test="EXCEED_NUMBER != null">
        #{EXCEED_NUMBER,jdbcType=BIGINT},
      </if>
      <if test="YEAR != null">
        #{YEAR,jdbcType=INTEGER},
      </if>
      <if test="MONTH != null">
        #{MONTH,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>