<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadiyw.ce16.mapper.ViewDetailMapper">
  <resultMap id="BaseResultMap" type="com.dadiyw.ce16.model.ViewDetail">
    <result column="CODE" jdbcType="VARCHAR" property="CODE" />
    <result column="MSG" jdbcType="VARCHAR" property="MSG" />
    <result column="CHANNEL_ID" jdbcType="VARCHAR" property="CHANNEL_ID" />
    <result column="WEBINAR_ID" jdbcType="VARCHAR" property="WEBINAR_ID" />
    <result column="UID" jdbcType="VARCHAR" property="UID" />
    <result column="JOIN_TIME" jdbcType="VARCHAR" property="JOIN_TIME" />
    <result column="LEAVE_TIME" jdbcType="VARCHAR" property="LEAVE_TIME" />
    <result column="DURATION" jdbcType="VARCHAR" property="DURATION" />
    <result column="IP" jdbcType="VARCHAR" property="IP" />
    <result column="PLATFORM" jdbcType="VARCHAR" property="PLATFORM" />
    <result column="AREA" jdbcType="VARCHAR" property="AREA" />
    <result column="CREATED_AT" jdbcType="VARCHAR" property="CREATED_AT" />
    <result column="WEBINAR_START_TIME" jdbcType="VARCHAR" property="WEBINAR_START_TIME" />
    <result column="INVITE_UID" jdbcType="VARCHAR" property="INVITE_UID" />
    <result column="INVITE_NICKNAME" jdbcType="VARCHAR" property="INVITE_NICKNAME" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="NICKNAME" />
    <result column="PHONE" jdbcType="VARCHAR" property="PHONE" />
    <result column="ORIGIN_UNIQUE_ID" jdbcType="VARCHAR" property="ORIGIN_UNIQUE_ID" />
    <result column="TOTAL" jdbcType="VARCHAR" property="TOTAL" />
    <result column="API_TYPE" jdbcType="VARCHAR" property="API_TYPE" />
    <result column="DATACENTER_INSERT_TIME" jdbcType="TIMESTAMP" property="DATACENTER_INSERT_TIME" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CODE, MSG, CHANNEL_ID, WEBINAR_ID, UID, JOIN_TIME, LEAVE_TIME, DURATION, IP, PLATFORM, 
    AREA, CREATED_AT, WEBINAR_START_TIME, INVITE_UID, INVITE_NICKNAME, NICKNAME, PHONE, 
    ORIGIN_UNIQUE_ID, TOTAL, API_TYPE, DATACENTER_INSERT_TIME
  </sql>
  <select id="selectByExample" parameterType="com.dadiyw.ce16.model.ViewDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ce17_zmengzhu_data_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.dadiyw.ce16.model.ViewDetail">
    insert into ce17_zmengzhu_data_detail (CODE, MSG, CHANNEL_ID, 
      WEBINAR_ID, UID, JOIN_TIME, 
      LEAVE_TIME, DURATION, IP, 
      PLATFORM, AREA, CREATED_AT, 
      WEBINAR_START_TIME, INVITE_UID, INVITE_NICKNAME, 
      NICKNAME, PHONE, ORIGIN_UNIQUE_ID, 
      TOTAL, API_TYPE, DATACENTER_INSERT_TIME
      )
    values (#{CODE,jdbcType=VARCHAR}, #{MSG,jdbcType=VARCHAR}, #{CHANNEL_ID,jdbcType=VARCHAR}, 
      #{WEBINAR_ID,jdbcType=VARCHAR}, #{UID,jdbcType=VARCHAR}, #{JOIN_TIME,jdbcType=VARCHAR}, 
      #{LEAVE_TIME,jdbcType=VARCHAR}, #{DURATION,jdbcType=VARCHAR}, #{IP,jdbcType=VARCHAR}, 
      #{PLATFORM,jdbcType=VARCHAR}, #{AREA,jdbcType=VARCHAR}, #{CREATED_AT,jdbcType=VARCHAR}, 
      #{WEBINAR_START_TIME,jdbcType=VARCHAR}, #{INVITE_UID,jdbcType=VARCHAR}, #{INVITE_NICKNAME,jdbcType=VARCHAR}, 
      #{NICKNAME,jdbcType=VARCHAR}, #{PHONE,jdbcType=VARCHAR}, #{ORIGIN_UNIQUE_ID,jdbcType=VARCHAR}, 
      #{TOTAL,jdbcType=VARCHAR}, #{API_TYPE,jdbcType=VARCHAR}, #{DATACENTER_INSERT_TIME,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dadiyw.ce16.model.ViewDetail">
    insert into ce17_zmengzhu_data_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="CODE != null">
        CODE,
      </if>
      <if test="MSG != null">
        MSG,
      </if>
      <if test="CHANNEL_ID != null">
        CHANNEL_ID,
      </if>
      <if test="WEBINAR_ID != null">
        WEBINAR_ID,
      </if>
      <if test="UID != null">
        UID,
      </if>
      <if test="JOIN_TIME != null">
        JOIN_TIME,
      </if>
      <if test="LEAVE_TIME != null">
        LEAVE_TIME,
      </if>
      <if test="DURATION != null">
        DURATION,
      </if>
      <if test="IP != null">
        IP,
      </if>
      <if test="PLATFORM != null">
        PLATFORM,
      </if>
      <if test="AREA != null">
        AREA,
      </if>
      <if test="CREATED_AT != null">
        CREATED_AT,
      </if>
      <if test="WEBINAR_START_TIME != null">
        WEBINAR_START_TIME,
      </if>
      <if test="INVITE_UID != null">
        INVITE_UID,
      </if>
      <if test="INVITE_NICKNAME != null">
        INVITE_NICKNAME,
      </if>
      <if test="NICKNAME != null">
        NICKNAME,
      </if>
      <if test="PHONE != null">
        PHONE,
      </if>
      <if test="ORIGIN_UNIQUE_ID != null">
        ORIGIN_UNIQUE_ID,
      </if>
      <if test="TOTAL != null">
        TOTAL,
      </if>
      <if test="API_TYPE != null">
        API_TYPE,
      </if>
      <if test="DATACENTER_INSERT_TIME != null">
        DATACENTER_INSERT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="CODE != null">
        #{CODE,jdbcType=VARCHAR},
      </if>
      <if test="MSG != null">
        #{MSG,jdbcType=VARCHAR},
      </if>
      <if test="CHANNEL_ID != null">
        #{CHANNEL_ID,jdbcType=VARCHAR},
      </if>
      <if test="WEBINAR_ID != null">
        #{WEBINAR_ID,jdbcType=VARCHAR},
      </if>
      <if test="UID != null">
        #{UID,jdbcType=VARCHAR},
      </if>
      <if test="JOIN_TIME != null">
        #{JOIN_TIME,jdbcType=VARCHAR},
      </if>
      <if test="LEAVE_TIME != null">
        #{LEAVE_TIME,jdbcType=VARCHAR},
      </if>
      <if test="DURATION != null">
        #{DURATION,jdbcType=VARCHAR},
      </if>
      <if test="IP != null">
        #{IP,jdbcType=VARCHAR},
      </if>
      <if test="PLATFORM != null">
        #{PLATFORM,jdbcType=VARCHAR},
      </if>
      <if test="AREA != null">
        #{AREA,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_AT != null">
        #{CREATED_AT,jdbcType=VARCHAR},
      </if>
      <if test="WEBINAR_START_TIME != null">
        #{WEBINAR_START_TIME,jdbcType=VARCHAR},
      </if>
      <if test="INVITE_UID != null">
        #{INVITE_UID,jdbcType=VARCHAR},
      </if>
      <if test="INVITE_NICKNAME != null">
        #{INVITE_NICKNAME,jdbcType=VARCHAR},
      </if>
      <if test="NICKNAME != null">
        #{NICKNAME,jdbcType=VARCHAR},
      </if>
      <if test="PHONE != null">
        #{PHONE,jdbcType=VARCHAR},
      </if>
      <if test="ORIGIN_UNIQUE_ID != null">
        #{ORIGIN_UNIQUE_ID,jdbcType=VARCHAR},
      </if>
      <if test="TOTAL != null">
        #{TOTAL,jdbcType=VARCHAR},
      </if>
      <if test="API_TYPE != null">
        #{API_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="DATACENTER_INSERT_TIME != null">
        #{DATACENTER_INSERT_TIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>