<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.ViewDetailMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.ViewDetail">
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="MSG" jdbcType="VARCHAR" property="msg" />
    <result column="CHANNEL_ID" jdbcType="VARCHAR" property="channelId" />
    <result column="WEBINAR_ID" jdbcType="VARCHAR" property="webinarId" />
    <result column="UID" jdbcType="VARCHAR" property="uid" />
    <result column="JOIN_TIME" jdbcType="VARCHAR" property="joinTime" />
    <result column="LEAVE_TIME" jdbcType="VARCHAR" property="leaveTime" />
    <result column="DURATION" jdbcType="VARCHAR" property="duration" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="PLATFORM" jdbcType="VARCHAR" property="platform" />
    <result column="AREA" jdbcType="VARCHAR" property="area" />
    <result column="CREATED_AT" jdbcType="VARCHAR" property="createdAt" />
    <result column="WEBINAR_START_TIME" jdbcType="VARCHAR" property="webinarStartTime" />
    <result column="INVITE_UID" jdbcType="VARCHAR" property="inviteUid" />
    <result column="INVITE_NICKNAME" jdbcType="VARCHAR" property="inviteNickname" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ORIGIN_UNIQUE_ID" jdbcType="VARCHAR" property="originUniqueId" />
    <result column="TOTAL" jdbcType="VARCHAR" property="total" />
    <result column="API_TYPE" jdbcType="VARCHAR" property="apiType" />
    <result column="DATACENTER_INSERT_TIME" jdbcType="TIMESTAMP" property="datacenterInsertTime" />
  </resultMap>
  <insert id="insert" parameterType="com.macro.mall.model.ViewDetail">
    insert into ce17_zmengzhu_data_detail (CODE, MSG, CHANNEL_ID, 
      WEBINAR_ID, UID, JOIN_TIME, 
      LEAVE_TIME, DURATION, IP, 
      PLATFORM, AREA, CREATED_AT, 
      WEBINAR_START_TIME, INVITE_UID, INVITE_NICKNAME, 
      NICKNAME, PHONE, ORIGIN_UNIQUE_ID, 
      TOTAL, API_TYPE, DATACENTER_INSERT_TIME
      )
    values (#{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR}, 
      #{webinarId,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{joinTime,jdbcType=VARCHAR}, 
      #{leaveTime,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{platform,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{createdAt,jdbcType=VARCHAR}, 
      #{webinarStartTime,jdbcType=VARCHAR}, #{inviteUid,jdbcType=VARCHAR}, #{inviteNickname,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{originUniqueId,jdbcType=VARCHAR}, 
      #{total,jdbcType=VARCHAR}, #{apiType,jdbcType=VARCHAR}, #{datacenterInsertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.ViewDetail">
    insert into ce17_zmengzhu_data_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="msg != null">
        MSG,
      </if>
      <if test="channelId != null">
        CHANNEL_ID,
      </if>
      <if test="webinarId != null">
        WEBINAR_ID,
      </if>
      <if test="uid != null">
        UID,
      </if>
      <if test="joinTime != null">
        JOIN_TIME,
      </if>
      <if test="leaveTime != null">
        LEAVE_TIME,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="platform != null">
        PLATFORM,
      </if>
      <if test="area != null">
        AREA,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="webinarStartTime != null">
        WEBINAR_START_TIME,
      </if>
      <if test="inviteUid != null">
        INVITE_UID,
      </if>
      <if test="inviteNickname != null">
        INVITE_NICKNAME,
      </if>
      <if test="nickname != null">
        NICKNAME,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="originUniqueId != null">
        ORIGIN_UNIQUE_ID,
      </if>
      <if test="total != null">
        TOTAL,
      </if>
      <if test="apiType != null">
        API_TYPE,
      </if>
      <if test="datacenterInsertTime != null">
        DATACENTER_INSERT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="webinarId != null">
        #{webinarId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null">
        #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="webinarStartTime != null">
        #{webinarStartTime,jdbcType=VARCHAR},
      </if>
      <if test="inviteUid != null">
        #{inviteUid,jdbcType=VARCHAR},
      </if>
      <if test="inviteNickname != null">
        #{inviteNickname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="originUniqueId != null">
        #{originUniqueId,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=VARCHAR},
      </if>
      <if test="apiType != null">
        #{apiType,jdbcType=VARCHAR},
      </if>
      <if test="datacenterInsertTime != null">
        #{datacenterInsertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>